.home {
  display: flex;
  flex-direction: column;

  &.dark-home {
    background-color: #000000;
  }
  &.light-home {
    background-color: #c7cacc !important;
  }
}
::-webkit-scrollbar {
  display: none;
}
